.projectList
{
    max-height: 70vh;
    display: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5vmin;
}
.project
{
    text-decoration: none;
    list-style-type: none;
    margin-top: 1vh;
    border-bottom: solid 1px rgb(197, 197, 197);
}
.project:last-child
{
    border: none;
}
