.project
{
    max-width: 90%;
    max-height: 90%;
}
.projectList
{
    display: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.projectElement
{
    text-decoration: none;
    list-style-type: none;
    margin-top: 2vh;
    border-bottom: solid 1px rgb(197, 197, 197);
}

.projectElement:last-child
{
    border: none;
    padding-bottom: 5vmin;

}
