.educationCompany
{
    font-size: 4vmin;
    color:white;
    font-weight: bold;
    text-shadow: 3px 3px #cf9100 ;
}
.educationDegree
{
    font-size: 3vmin;
    color:white;
    font-family: 'Times New Roman', serif;
    text-shadow: 0 0 3px #000000, 0 0 5px #18006d;
    font-weight: bold;
}
.educationDepartment
{
    font-size: 2vmin;
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationTerm
{
    font-size: 1.5vmin;
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationGPA
{
    font-size: 2vmin;
    color:white;
    font-weight: bold;
}
