.educationCompany
{
    color:white;
    font-weight: bold;
}
.educationDegree
{
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationDepartment
{
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationTerm
{
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationGPA
{
    color:white;
}
