.educationCompany
{
    font-size: 4vmin;
    color:white;
    font-weight: bold;
    text-shadow: 3px 3px #ff6767 ;
}
.educationDegree
{
    font-size: 3vmin;
    color:white;
    font-family: 'Times New Roman', serif;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-weight: bold;
}
.educationDepartment
{
    font-size: 2vmin;
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationTerm
{
    font-size: 1.5vmin;
    color:white;
    font-family: 'Times New Roman', serif;
}
.educationGPA
{
    font-size: 2vmin;
    color:white;
    font-weight: bold;
}
