.accountImage
{
    max-height: 4vmin;
    max-width: 4vmin;

}
.accountList
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin-left : 1.1vw;
    width: 7vw;
}
.accountDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.download
{
  width: 5%;
  margin-right: 12vw;
}