.about
{
    margin: 4vmin;
}
.aboutTitle
{
    color: white;
    font-size: 6vmin;
    text-shadow: 2px 2px #ff6767 ;
}
.aboutDescription
{
    color: white;
    font-size: 4vmin;
    font-family: 'Times New Roman', serif;
    margin: 2vmin;
}