.about
{
    max-height: 90%;
    max-width: 90%;
}
.aboutTitle
{
    color: white;
    font-size: 6vmin;
    text-shadow: 3px 3px #cf9100 ;
}
.aboutDescription
{
    color: white;
    font-size: 4vmin;
    font-family: 'Times New Roman', serif;
    margin: 2vmin;
}