.career
{
    max-height: 90%;
    max-width: 90%;
}
.careerList
{
    display: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.careerElement
{
    text-decoration: none;
    list-style-type: none;
    margin-top: 2vh;
    border-bottom: solid 1px rgb(197, 197, 197);
}
.careerElement:last-child
{
    border: none;
}
