.educationList
{
    display: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.education
{
    text-decoration: none;
    list-style-type: none;
    margin-top: 1vh;
    border-bottom: solid 1px rgb(197, 197, 197);
}
.education:last-child
{
    border: none;
}
