.careerCompany
{
    font-size: 4vmin;
    color:white;
    font-weight: bold;
    text-shadow: 3px 3px #ff6767 ;
}
.careerTitle
{
    font-size: 3vmin;
    color:white;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.careerTerm
{
    font-size: 2vmin;
    color:white;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.careerDefination
{
    font-size: 2vmin;
    color:white;
    font-family: 'Times New Roman', serif;
}


