.careerCompany
{
    color:white;
    font-weight: bold;
}
.careerTitle
{
    color:white;
    font-family: 'Times New Roman', serif;
    
}

.careerTerm
{
    color:white;
    font-family: 'Times New Roman', serif;
}

.careerDefination
{
    color:white;
    font-family: 'Times New Roman', serif;
}
