.projectName
{
    font-size: 4vmin;
    font-weight: bold;
    text-shadow: 3px 3px #3b59ff ;
    color:white;
    font-family: 'Times New Roman', serif;
    margin-top:2vmin;
}
.projectCompany
{
    font-size: 2vmin;
    color:rgba(255, 255, 255);
    font-weight: bold;
    text-shadow: 0 0 3px #000000, 0 0 5px #18006d;
}

.projectTerm
{
    font-size: 1.2vmin;
    color:white;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}
.projectDescription
{
    font-size: 2vmin;
    color:white;
    font-family: 'Times New Roman', serif;
}
.projectKeywords
{
    font-size: 1.4vmin;
    color: #474747 ;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 0 0 1px #a794ec;

}
.projectLink
{
    font-size: 2vmin;
    color: white ;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}
.projectLink:hover{
    color:rgb(0, 17, 255)
}


